.levels {
  color: white;
}

@media only screen and (min-width: 1001px) {
  .grid {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .grid-div {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .card-container {
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
    padding: 0;
    margin: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    height: 300px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    justify-content: center;
  }
  .image-box {
    top: 0;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.3s;
  }
  .grid-image {
    width: 600px;
    height: 400px;
  }
  .content {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 0.5rem;
    margin: 0;
    opacity: 0;
    transition: 0.3s;
    background-color: rgb(0, 118, 253);
  }
  .content h4 {
    font-size: 1.5rem;
  }
  .content h5 {
    font-size: 1rem;
  }
  h5,
  h4 {
    margin: 0;
  }
  .card-container:hover .content {
    opacity: 1;
  }
  .card-container:hover .image-box {
    transform: scale(1.05);
    filter: grayscale(100%) brightness(30%);
  }
  .home-botton:hover,
  .random-quote:hover {
    background-color: rgb(121, 121, 121);
    transform: translateY(-3px);
  }
  .quick-menu-div-hidden {
    padding: 0;
    padding-left: 1rem;
    transition: transform 200ms;
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
    overflow-y: scroll;
    direction: rtl;
  }
  .quick-menu-div-shown {
    padding: 1rem;
    transition: transform 200ms;
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
    overflow-y: scroll;
    direction: rtl;
  }
  .open-quick-menu-button {
    position: fixed;
    z-index: -3;
    transform: translateX(300rem);
  }
  .open-quick-menu-button:hover {
    background-color: rgb(80, 80, 80);
  }
  .levels-open {
    background-color: rgb(40, 40, 40);
    transition: transform 200ms;
    margin-right: 20rem;
  }
  .levels-closed {
    background-color: rgb(40, 40, 40);
    transition: transform 200ms;
    margin-right: 20rem;
  }
  .li-list {
    color: white;
    padding: 0.5rem;
    border-left: 2px solid rgb(0, 118, 253);
  }
  .quick-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
  }
  .quick-list-div {
    background-color: rgb(0, 118, 253);
    width: 0rem;
    height: 2.5rem;
  }
  .quick-list-item:hover .quick-list-div {
    width: 5px;
  }
  .quick-list-item:hover {
    background-color: rgb(71, 71, 71);
  }
  .close-button {
    position: fixed;
    transform: translateX(400rem);
  }
  .random-quote {
    padding: 1.5rem;
    border-radius: 10px;
    width: 700px;
    background-color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .home-botton {
    transition: 0.3s;
  }
  .levels-hr {
    padding-right: 5rem;
    padding-left: 5rem;
    margin-top: 1rem;
  }
  .quick-menu-random-link {
    color: white;
  }
  .quick-menu-random-div {
    border-left: 2px solid rgb(0, 118, 253);
    margin-top: 2rem;
    padding: 0.5rem;
  }
  .quick-menu-random-link:hover,
  .quick-menu-random-div:hover {
    color: white;
    background-color: rgb(70, 70, 70);
    border-right: 5px solid rgb(0, 118, 253);
  }
}

@media only screen and (max-width: 1000px) {
  .grid {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .grid-div {
    padding-left: 0;
    padding-right: 0;
  }
  .card-container {
    border-radius: 10px;
    background-color: rgb(87, 87, 87);
    padding: 0;
    margin: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 140px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .image-box {
    top: 0;
    overflow: hidden;
    border-radius: 10px;
  }
  .grid-image {
    width: 140px;
    height: 100px;
  }
  .content h4 {
    font-size: 1.3rem;
  }
  .content h5 {
    font-size: 0.8rem;
  }
  .content {
    padding: 1rem;
    margin: 0;
  }
  h4 {
    font-size: 15px;
    margin: 0;
  }
  .close-button {
    background-color: rgb(87, 87, 87);
    transition: 0.3s;
    border-radius: 50%;
    position: fixed;
    bottom: 1rem;
    padding: 1.5rem;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .levels-open {
    background-color: rgb(40, 40, 40);
    transition: transform 200ms;
    transform: translateX(-20rem);
    -webkit-transform: translateX(-20rem);
    -moz-transform: translateX(-20rem);
    transition: transform 200ms;
  }
  .levels-closed {
    background-color: rgb(40, 40, 40);
    transition: transform 200ms;
  }
  .quick-menu-div-hidden {
    padding: 0;
    padding-left: 1rem;
    transition: transform 200ms;
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
    overflow-y: scroll;
    direction: rtl;
    transform: translateX(21rem);
    -webkit-transform: translateX(21rem);
    -moz-transform: translateX(21rem);
    transition: transform 200ms;
  }
  .quick-menu-div-shown {
    padding: 1rem;
    transition: transform 200ms;
    height: 100vh;
    width: 20rem;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(40, 40, 40);
    overflow-y: scroll;
    direction: rtl;
  }
  .open-quick-menu-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(0, 118, 253);
  }
  .li-list {
    color: white;
    padding: 0.5rem;
    border-left: 2px solid rgb(0, 118, 253);
  }
  .quick-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
  }
  .quick-list-div {
    background-color: rgb(0, 118, 253);
    width: 0rem;
    height: 2.5rem;
  }
  .random-quote {
    padding: 1.5rem;
    border-radius: 10px;
    width: 85vw;
    background-color: rgb(71, 71, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
  }
  .levels-hr {
    text-align: center;
    margin-top: 1rem;
  }
  .header-h1-div {
    padding: 0.5rem;
  }
  h5 {
    font-size: 15px;
  }
}
